---
import githubSvg from "../github.svg";
import linkedinSvg from "../linkedin.svg";

const { title } = Astro.props;

const menus = [
  { name: "articles", href: "/articles" },
  { name: "references", href: "/references" },
  { name: "tags", href: "/tags" },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-900 text-slate-200">
    <header class="flex justify-between items-center h-16 text-xl">
      <nav class="flex">
        <a href="/" class="font-bold text-2xl mx-3 hover:underline">
          raeperd.github.io
        </a>
        <nav class="flex items-center">
          {
            menus.map((menu) => (
              <a href={menu.href} class="hover:underline mx-3">
                {menu.name}
              </a>
            ))
          }
        </nav>
      </nav>
      <nav class="flex justify-around">
        <a href="//github.com/raeperd/" class="invert mx-3">
          <img src={githubSvg} />
        </a>
        <a href="//www.linkedin.com/in/raeperd/" class="invert mx-3">
          <img src={linkedinSvg} />
        </a>
      </nav>
    </header>
    <slot />
  </body>
</html>
